{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/stylesheets/join.css">
  <div class="container">
    <div class="content">
      <h2 class="title">
        SIGN UP
      </h2>
      <form class="form" action="/auth/join" method="post">
        <div class="input">
          <input type="email" name="email" placeholder="EMAIL*" minlength="6" required>
        </div>
        <div class="input">
          <input type="text" name="nick" placeholder="NICKNAME*" required>
        </div>
        <div class="input">
          <input type="password" name="password" placeholder="PASSWORD*" required>
        </div>
        <button class="btn" type="submit">SIGN UP</button>
        <a href="/auth/kakao">start with kakaotalk &#129046;</a>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
window.onload = () => {
  if (new URL(location.href).searchParams.get('error')) {
    alert('The email already exists.');
  }
};
</script>
{% endblock %}