<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    {% include 'header.html' %}

    <section>
      <div class="main">
        {% block content %}
        {% endblock %}
      </div>
    </section>

    {% include 'footer.html' %}
    
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert(new URL(location.href).searchParams.get('error'));        
      }
    };

    function logout() {
        // 실제로는 서버 측에서 세션을 만료시키거나 쿠키를 삭제하는 등의 작업이 이루어져야 합니다.
        // 여기서는 간단히 경고창을 띄우는 예제로 대체합니다.
      alert("Logged out successfully!");
    };

    function showDropdown() {
      document.getElementById("dropdownMenu").style.display = "block";
    };

    function hideDropdown() {
      document.getElementById("dropdownMenu").style.display = "none";
    };
  </script>
  {% block script %}
  {% endblock %}
  </body>
</html>