{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/stylesheets/join.css">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Log In
      </h2>
      <form class="form" action="/auth/login" method="post">
        <div class="input">
          <input type="email" name="email" placeholder="EMAIL*" minlength="6" required>
        </div>
        <div class="input">
          <input type="password" name="password" placeholder="PASSWORD*" required>
        </div>
        <button class="btn" type="submit">Log in</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}