{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/stylesheets/post.css">
<div class="container">
  <h2 class="title">
    Create a New Post!
  </h2>
  <div class="content">
    <main>
      <form class="form" action="/post" method="post" enctype="multipart/form-data">
        <div class="image-upload">
          <label for="img" class="upload-label">
            <span>UPLOAD IMAGE</span>
          </label>
  
          <input type="file" id="img" accept="image/*" onchange="previewImage(event)" required>
          <div class="img-preview">
            <img id="image-preview" class="image-preview" alt="IMAGE PREVIEW">
            <input id="img-url" type="hidden" name="url">
          </div>
        </div>
  
        <div class="input-fields">
          <div class="details">
            <input type="text" placeholder="RESTAURANT NAME*" id="restaurant-name" name="restaurantName" required>
            <input type="text" placeholder="LOCATION*" id="location" name="location" required>
            <select id="category" name="category" required>
                <option value="restaurant">RESTAURANT</option>
                <option value="cafe">CAFE</option>
                <option value="bar">BAR</option>
            </select>
            <input type="number" placeholder="RATING (1-5)" id="rating" name="rating" min="1" max="5" step="0.1" required>
          </div>
          <div class="post-content">
            <textarea placeholder="WRITE YOUR POST HERE..." id="post-content" name="content" required></textarea>
          </div>
        </div>
          
        <button id="btn" type="submit">Create Post</button>
      </form>
    </main>
  </div>
</div>
{% endblock %}

{% block script %}

<script>
  if (document.getElementById('img')) {
    document.getElementById('img').addEventListener('change', function(e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append('img', this.files[0]);
      axios.post('/post/img', formData)
        .then((res) => {
          document.getElementById('img-url').value = res.data.url;
          document.getElementById('img-preview').src = res.data.url;
          document.getElementById('img-preview').style.display = 'inline';
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }
  
  function previewImage(event) {
    const input = event.target;
    const preview = document.getElementById('image-preview');
    const file = input.files[0];

    if (file) {
      const reader = new FileReader();

      reader.onload = function (e) {
        preview.src = e.target.result;
      };

      reader.readAsDataURL(file);
    } else {
      preview.src = '';
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const message = urlParams.get('message');
  
    if (message) {
      alert(message);
      window.location.href = '/post';
    }
  });
</script>
{% endblock %}