html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffeec;
}

header {
  text-align: left;
  padding: 39px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

section {
  min-height: 100vh;
  position: relative;
  margin-top: 14rem;
}

.logo {
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 0 #54433B, 1px -1px 0 #54433B, -1px 1px 0 #54433B, 1px 1px 0 #54433B;
  color: #54433B;
}

.logo:hover {
  color: #ff6c11;
  transition: 0.3s ease;
}

nav {
  padding-right: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

nav svg {
  width: 67px;
  height: 28px;
  fill: #54433B;
}

nav a, nav svg {
  text-decoration: none;
  font-size: 18px;
  color: #54433B;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

nav a:hover {
  color: #ff6c11;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #54433B;
  border-radius: 5px;
  cursor: pointer; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.dropdown:hover svg {
  fill: #ff6c11;
}

.introduction {
  position: relative;
  text-align: center;
  margin-top: -16rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.introduction img {
  width: 100%;
  height: 1000px;
  display: block;
}

.introduction-text {
  flex: 1; 
  color: #54433B;
  font-size: 44px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 6rem;
}

.ani-container {
  margin: 0 auto;
  position:relative;
  overflow:hidden;
}

.ani {
  display: inline;
  position: relative;
  margin-bottom: 10px;
}

.ani1 {
  animation-name: intro;
  animation-duration:0.5s;
  animation-iteration-count:1;
  animation-timing-function:ease-out;
  animation-delay:0s;
  animation-fill-mode:backwards;
  color: #ff6c11;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;  
 }

 @keyframes intro {
  0% {
    top:150px;
  } 
  98% {
    top:-5px;
  }
  100% {
    top:0%;
  }
}

.ani2 {
  animation-name: intro;
  animation-duration:0.5s;
  animation-iteration-count:1;
  animation-timing-function:ease-out;
  animation-delay:0.4s;
  animation-fill-mode:backwards;
  font-size: 42px;
  font-weight: 600;
}

.ani3 {
  animation-name: intro;
  animation-duration:0.5s;
  animation-iteration-count:1;
  animation-timing-function:ease-out;
  animation-delay:0.8s;
  animation-fill-mode:backwards;
  font-size: 26px; 
  padding-top: 26px; 
  font-weight: 600;
}

.introduction-text p {
  float: left;
  line-height: 160%;
  margin: 0 0 0 0;
}

.feature-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 150px;
  box-sizing: border-box;
}

.feature {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.feature h2 {
  font-weight: 800;
  font-size: 53px;
  line-height: 130%;
  color: #54433B;
  margin-bottom: 24px;
  transition: 0.3s ease;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 59px;
  padding-bottom: 32px;
}

.card {
  padding: 32px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.1), 0 8px 20px 0 rgba(0,0,0,.1);
  transition: transform 0.3s ease-in-out;
}

.card h2 {
  padding: 10px;
  font-size: 28px;
}

.card p {
  padding: 0 10px 10px;
  font-size: 22px;
  font-weight: 600;
  color: #54433B;
}

.card:hover {
  transform: scale(1.05); 
}

.search-container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

 .search-content {
  display: inline-block;
 }

.search-bar {
  display: flex;
  width: 835px;
  align-items: center;
  border: 2px solid #F1F1F1;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
}

.search-content label {
  font-size: 40px;
  font-weight: 800;
  float: left;
  padding-right: 80px;
  color: #54433B;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease-in-out;
}

.search-content label:hover {
  color: #ff6c11;
  transform: scale(1.05); 
}

#search {
  flex: 1;
  border: none;
  padding: 15px;
}

.icon {
  display: flex;
  padding: 15px;
  background-color: #F1F1F1;
  left: 10px;
}

.plus-option svg {
  margin-left: 5px;
}

.note-container {
  display: block;
  margin-top: -35rem;
}

.note-content {
  text-align: center;
  padding: 2rem;
  color: #54433B;
}

.note-title {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 800;
}

.note-title span {
  font-size: 48px;
  color: #ff6c11;
}

.note-description {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.oval-button {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  background-color: #ff6c11;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease-in-out;
}

.oval-button:hover {
  background-color: #DB4E00;
  transform: scale(1.05); 
}

footer {
  background-color: #fffeec;
  color: #333;
  font-weight: 700;
  position : relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  bottom: 0px;
  width: 100%;
  display: flex;
  height: 2rem;
  align-items: center;
}

.left-content {
  flex: 1;
}

.center-content {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.right-content {
  flex: 1;
}